@{
    ViewData["Title"] = "Fotografi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #f1f1f1;
        padding: 20px;
    }

    /* Center website */
    .main {
        max-width: 1000px;
        margin: auto;
    }

    h1 {
        font-size: 50px;
        word-break: break-all;
    }

    .row {
        margin: 8px -16px;
    }

        /* Add padding BETWEEN each column (if you want) */
        .row,
        .row > .column {
            padding: 8px;
        }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33.33%;
        display: none; /* Hide columns by default */
    }

    /* Clear floats after rows */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Content */
    .content {
        background-color: white;
        padding: 10px;
    }

    /* The "show" class is added to the filtered elements */
    .show {
        display: block;
    }

    /* Style the buttons */
    .btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: white;
        cursor: pointer;
    }

        /* Add a grey background color on mouse-over */
        .btn:hover {
            background-color: #ddd;
        }

        /* Add a dark background color to the active button */
        .btn.active {
            background-color: #666;
            color: white;
        }
</style>
<body class="bg-black">
    <h2>PORTFOLIO</h2>
    <div class="d-flex justify-content-center mt-lg-5  mt-sm-5" id="myBtnContainer">
        <button class="btn active mt-lg-5 mt-sm-5" onclick="filterSelection('all')"> Show all</button>
        <button class="btn mt-lg-5 mt-sm-5" onclick="filterSelection('00')"> 00</button>
        <button class="btn mt-lg-5 mt-sm-5" onclick="filterSelection('botanik')"> Botanik</button>
        <button class="btn mt-lg-5 mt-sm-5" onclick="filterSelection('emmi')"> Emmi</button>
        <button class="btn mt-lg-5 mt-sm-5" onclick="filterSelection('evreler')"> Evreler</button>
        <button class="btn mt-lg-5 mt-sm-5" onclick="filterSelection('nergis')"> Nergis</button>
        <button class="btn mt-lg-5 mt-sm-5" onclick="filterSelection('sergi')"> Sergi</button>
    </div>
    <!-- Portfolio Gallery Grid -->
    @* 00 *@
    <div class="row">
        <div class="column 00">
            <div class="content">
                <img src="~/images/Fotografi/00/4.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column 00">
            <div class="content">
                <img src="~/images/Fotografi/00/5.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column 00">
            <div class="content">
                <img src="~/images/Fotografi/00/6.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column 00">
            <div class="content">
                <img src="~/images/Fotografi/00/1.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column 00">
            <div class="content">
                <img src="~/images/Fotografi/00/2.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column 00">
            <div class="content">
                <img src="~/images/Fotografi/00/3.webp" alt="Mountains" style="width:100%">
            </div>
        </div>

        @* Botanik *@
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/1.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/2.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/5.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/4.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/3.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/6.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/7.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/8.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/9.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/10.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/11.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/12.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>
        <div class="column botanik">
            <div class="content">
                <img src="~/images/Fotografi/Botanik/13.jpg" alt="Mountains1" style="width:100%">
            </div>
        </div>

        @* Emmi *@
        <div class="column emmi">
            <div class="content">
                <img src="~/images/Fotografi/emmi/1.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column emmi">
            <div class="content">
                <img src="~/images/Fotografi/emmi/2.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column emmi">
            <div class="content">
                <img src="~/images/Fotografi/emmi/3.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column emmi">
            <div class="content">
                <img src="~/images/Fotografi/emmi/4.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column emmi">
            <div class="content">
                <img src="~/images/Fotografi/emmi/5.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column emmi">
            <div class="content">
                <img src="~/images/Fotografi/emmi/6.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column emmi">
            <div class="content">
                <img src="~/images/Fotografi/emmi/7.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column emmi">
            <div class="content">
                <img src="~/images/Fotografi/emmi/8.webp" alt="Mountains" style="width:100%">
            </div>
        </div>

        @* Evreler *@
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/1.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/2.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/3.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/4.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/5.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/6.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/7.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/8.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column evreler">
            <div class="content">
                <img src="~/images/Fotografi/evreler/9.webp" alt="Mountains" style="width:100%">
            </div>
        </div>

        @* Nergis *@
        <div class="column nergis">
            <div class="content">
                <img src="~/images/Fotografi/nergis/1.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column nergis">
            <div class="content">
                <img src="~/images/Fotografi/nergis/2.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column nergis">
            <div class="content">
                <img src="~/images/Fotografi/nergis/3.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column nergis">
            <div class="content">
                <img src="~/images/Fotografi/nergis/4.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column nergis">
            <div class="content">
                <img src="~/images/Fotografi/nergis/5.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column nergis">
            <div class="content">
                <img src="~/images/Fotografi/nergis/9.webp" alt="Mountains" style="width:100%">
            </div>
        </div>

        @* Sergi *@
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/1.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/2.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/3.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/4.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/5.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/6.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/7.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/8.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/9.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/10.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/11.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/12.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/18.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/14.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/15.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/16.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/17.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/13.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/19.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/20.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/21.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/22.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/23.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/24.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/25.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/26.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/27.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/28.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/29.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/30.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/31.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/32.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/33.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/34.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/35.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/36.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/37.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/38.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/39.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/40.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/41.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/42.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/43.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        @* <div class="column sergi">
        <div class="content">
        <img src="~/images/Fotografi/sergi/44.tif" alt="Mountains" style="width:100%">
        </div>
        </div> *@
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/45.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/46.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/49.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/48.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/51.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/50.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/47.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/52.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/53.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/54.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/55.webp" alt="Mountains" style="width:100%">
            </div>
        </div>

        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/58.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/57.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/59.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/56.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/60.webp" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="column sergi">
            <div class="content">
                <img src="~/images/Fotografi/sergi/61.webp" alt="Mountains" style="width:100%">
            </div>
        </div>

        <!-- END GRID -->
    </div>
</body>
<script>
    filterSelection("all") // Execute the function and show all columns
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("column");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

</script>