@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <!-- Carousel (Slider) -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-2 overlay" style="background-image: url('/images/Anasayfa/a2.jpg');">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mx-auto">
                                @* <h2 class="envanter mb-1">ENVANTER</h2> *@
                                <section class="wrapper">
                                    <div class="top">Envanter</div>
                                    <div class="bottom" aria-hidden="true">Envanter</div>
                                    <h1 class="mb-5">Gidişler, geride bırakılanlar, ağustos sıcağında gölge arayanlar. Kimi zaman gelişler, bekleyişler, pistir diye yürüyen merdiven bandına dokunmayanlar, temas etmekten bıkan gömlekler, boş bakan suratlar, sallanmaktan artık midesi bulanmış el çantaları, Arnavut kaldırımlarında tıkırtı yapan bavul tekerlekleri, hiç şans vermeden geçilen şarkılar, entelektüelmiş gibi görünmeye çalışan fularlı amcalar, politikadan en iyi anlayanlar, ölen çiçekler, çürümüş mandalina, sap arkadaşları çoktan yenmiş ve biraz kararmış Anamur muzu, güzel kızlar, boş bira kutuları, ısırılmış kalem başı, biraz sümüklü mendil, cepte bükülmüş sigara, git gide absürtleşen yazı, son olarak da araya kaçan üç günlük don… </h1>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item"> 
                <div class="hero-2 overlay" style="background-image: url('/images/Anasayfa/a1.jpg');">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mx-auto">
                                @* <h2 class="envanter mb-1">ENVANTER</h2> *@
                                <section class="wrapper">
                                    <div class="top">Envanter</div>
                                    <div class="bottom" aria-hidden="true">Envanter</div>
                                    <h1 class="mb-5">Gidişler, geride bırakılanlar, ağustos sıcağında gölge arayanlar. Kimi zaman gelişler, bekleyişler, pistir diye yürüyen merdiven bandına dokunmayanlar, temas etmekten bıkan gömlekler, boş bakan suratlar, sallanmaktan artık midesi bulanmış el çantaları, Arnavut kaldırımlarında tıkırtı yapan bavul tekerlekleri, hiç şans vermeden geçilen şarkılar, entelektüelmiş gibi görünmeye çalışan fularlı amcalar, politikadan en iyi anlayanlar, ölen çiçekler, çürümüş mandalina, sap arkadaşları çoktan yenmiş ve biraz kararmış Anamur muzu, güzel kızlar, boş bira kutuları, ısırılmış kalem başı, biraz sümüklü mendil, cepte bükülmüş sigara, git gide absürtleşen yazı, son olarak da araya kaçan üç günlük don… </h1>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-2 overlay" style="background-image: url('/images/Anasayfa/a3.jpg');">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mx-auto">
                                @* <h2 class="envanter mb-1">ENVANTER</h2> *@
                                <section class="wrapper">
                                    <div class="top">Envanter</div>
                                    <div class="bottom" aria-hidden="true">Envanter</div>
                                    <h1 class="mb-5">Gidişler, geride bırakılanlar, ağustos sıcağında gölge arayanlar. Kimi zaman gelişler, bekleyişler, pistir diye yürüyen merdiven bandına dokunmayanlar, temas etmekten bıkan gömlekler, boş bakan suratlar, sallanmaktan artık midesi bulanmış el çantaları, Arnavut kaldırımlarında tıkırtı yapan bavul tekerlekleri, hiç şans vermeden geçilen şarkılar, entelektüelmiş gibi görünmeye çalışan fularlı amcalar, politikadan en iyi anlayanlar, ölen çiçekler, çürümüş mandalina, sap arkadaşları çoktan yenmiş ve biraz kararmış Anamur muzu, güzel kızlar, boş bira kutuları, ısırılmış kalem başı, biraz sümüklü mendil, cepte bükülmüş sigara, git gide absürtleşen yazı, son olarak da araya kaçan üç günlük don… </h1>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-2 overlay" style="background-image: url('/images/Anasayfa/a5.jpeg');">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mx-auto">
                                @* <h2 class="envanter mb-1">ENVANTER</h2> *@
                                <section class="wrapper">
                                    <div class="top">Envanter</div>
                                    <div class="bottom" aria-hidden="true">Envanter</div>
                                    <h1 class="mb-5">Gidişler, geride bırakılanlar, ağustos sıcağında gölge arayanlar. Kimi zaman gelişler, bekleyişler, pistir diye yürüyen merdiven bandına dokunmayanlar, temas etmekten bıkan gömlekler, boş bakan suratlar, sallanmaktan artık midesi bulanmış el çantaları, Arnavut kaldırımlarında tıkırtı yapan bavul tekerlekleri, hiç şans vermeden geçilen şarkılar, entelektüelmiş gibi görünmeye çalışan fularlı amcalar, politikadan en iyi anlayanlar, ölen çiçekler, çürümüş mandalina, sap arkadaşları çoktan yenmiş ve biraz kararmış Anamur muzu, güzel kızlar, boş bira kutuları, ısırılmış kalem başı, biraz sümüklü mendil, cepte bükülmüş sigara, git gide absürtleşen yazı, son olarak da araya kaçan üç günlük don… </h1>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Preloader -->
            <div id="overlayer"></div>
            <div class="loader">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</body>

