@{
    ViewData["Title"] = "SOSYAL TESİS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <div class="hero-2 overlay" style="background-image: url('/images/Mimari/Proje3/5.jpg'); background-size: cover !important;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 mx-auto ">
                    <h1 class="mb-5 text-center"><span>SOSYAL TESİS</span></h1>


                    <div class="intro-desc text-left">
                        <div class="line"></div>
                        <p>Delectus voluptatum distinctio quos eius excepturi sunt pariatur, aut, doloribus officia ea molestias beatae laudantium, quam odio ipsum veritatis est maiores velit quasi blanditiis et natus accusamus itaque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-4 section bg-light">
        <div class="text-center mb-5">
            <h2 class="heading mb-5 text-center">PROJE KESİTLERİ</h2>
        </div>
        <!-- Carousel wrapper -->
        <div id="carouselMultiItemExample"
             data-mdb-carousel-init class="carousel slide carousel-dark text-center"
             data-mdb-ride="carousel">
            <!-- Controls -->
            <div class="d-flex justify-content-center mb-4">
                <button class="carousel-control-prev position-relative"
                        type="button"
                        data-mdb-target="#carouselMultiItemExample"
                        data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next position-relative"
                        type="button"
                        data-mdb-target="#carouselMultiItemExample"
                        data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- Inner -->
            <div class="carousel-inner py-4">
                <!-- Single item -->
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/1.jpg"
                                         class="card-img-top"
                                         alt="Waterfall" />
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 d-none d-lg-block">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/2.jpg"
                                         class="card-img-top"
                                         alt="Sunset Over the Sea" />
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 d-none d-lg-block">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/3.jpg"
                                         class="card-img-top"
                                         alt="Sunset over the Sea" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 ">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/4.png"
                                         class="card-img-top"
                                         alt="Fissure in Sandstone" />
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 d-none d-lg-block">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/5.jpg"
                                         class="card-img-top"
                                         alt="Storm Clouds" />
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 d-none d-lg-block">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/6.png"
                                         class="card-img-top"
                                         alt="Hot Air Balloons" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 ">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/7.png"
                                         class="card-img-top"
                                         alt="Fissure in Sandstone" />
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 d-none d-lg-block">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/8.jpg"
                                         class="card-img-top"
                                         alt="Storm Clouds" />
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 d-none d-lg-block">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/9.png"
                                         class="card-img-top"
                                         alt="Hot Air Balloons" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="card">
                                    <img src="~/images/Mimari/Proje3/10.png"
                                         class="card-img-top"
                                         alt="Fissure in Sandstone" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer bg-light">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="widget">
                        <h3 class="line-top">Sosyal Medya</h3>
                        <ul class="social list-unstyled">
                            <li><a href="https://twitter.com/talutaner"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                            <li><a href="#"><span class="icon-envelope"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center text-center copyright">
                    <div class="col-md-8">
                        <p class="small text-black-50">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>. Tüm Hakları Saklıdır. &mdash;  <a href="https://www.instagram.com/yigityalciin">Tasarım & Kodlama | Yiğit Yalçın</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
