@{
    ViewData["Title"] = "Sulusepken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .logo {
        color: black !important;
    }

    .site-nav .site-navigation .site-menu > li.active > a {
        color: #000;
    }

    .site-nav .site-navigation .site-menu > li > a {
        color: #000;
    }
    .sosyal{
        color: #000;
    }

    .has-children:hover > a {
        color: #fc5404 !important; /* İçerikler menüsünün üzerine gelindiğinde metin rengi kırmızı olacak */
    }

    #pdf-container {
        width:100%;
        max-width: 900px;
        height: auto; /* Yükseklik otomatik olarak ayarlanacak */
        margin: 150px auto; /* Sayfanın ortasında ve biraz aşağıda olacak */
    }

        


</style>
<body>
    <div id="pdf-container" class="shadow-sm"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>

    <script>
        // PDF dosyası yolu
        const pdfPath = '/images/Sulusepken/Sulusepken.pdf'; // Mutlak URL veya yolu

        // PDF.js kullanarak PDF dosyasını gösterme
        pdfjsLib.getDocument(pdfPath).promise.then(pdf => {
            for (let i = 1; i <= pdf.numPages; i++) {
                pdf.getPage(i).then(page => {
                    const canvas = document.createElement('canvas');
                    const context = canvas.getContext('2d');
                    const viewport = page.getViewport({ scale: 1.6 });
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;

                    // Sayfayı çiz
                    page.render({
                        canvasContext: context,
                        viewport: viewport
                    });

                    // PDF container içine ekle
                    document.getElementById('pdf-container').appendChild(canvas);
                });
            }
        });
    </script>

</body>

