@{
    ViewData["Title"] = "Poetry Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="hero-2 overlay" style="background-image: url('/images/Fotografi/Sergi/23.webp');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center">
                    <h1 class="mimari-projelerim d-flex justify-content-center mb-5">
                        <span>YAZILARIM</span>
                    </h1>
                    <a href="#bottom" class="scroll-to-bottom">
                        <span class="arrow-down"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-5">
        <div class="container">
            <div id="bottom"></div>
            <div class="row g-4">
                <!-- Cümleler -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence1Modal">Bir bedenin gerçeği miydi o?</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence2Modal">Yalnızlıkta buluyorum içimdeki kaosu...</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence3Modal">İndirme yelkenleri...</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence4Modal">Uzaktan bar aşkı...</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence5Modal">Var olduğuna bir türlü ikna...</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence6Modal">ADSIZ...</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence7Modal">BOTANİK HİSLER-3...</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence9Modal">BİR BAR TUVALETİNDE YAZIYORUM BUNU...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence10Modal">Pastel bi’ adamım ben...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence11Modal">Barda en son kalan müşteriyim...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence12Modal">Bekle...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence13Modal">“ENVANTER”</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence14Modal">Tatsız şaraplar içtim geçen...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence15Modal">“BOTANİK HİSLER-2”...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence16Modal">“BOTANİK HİSLER-1”...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence17Modal">Kâğıt damarları bahsediyor...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence18Modal">Teksir kâğıdı gibi...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence19Modal">Önceden mi belli tüm öpmeler...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence20Modal">Yaşıyor olmanın kekremsi tadı...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence21Modal">Bazen...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence22Modal">Ben seni bana gel diye sevmedim...</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sentence23Modal">Kişisel Deklarasyon...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="sentence1Modal" tabindex="-1" role="dialog" aria-labelledby="sentence1ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence1ModalLabel">Bir bedenin gerçeği miydi o?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Bir bedenin gerçeği miydi o?
    Hiç
    Ama hiç ıslatmayan o yağmurda,
    Bir bedenin gerçekliğiyle baş başa kaldığın o anda,
    Ve aslında hiç bilmediğin bir kadına sarıldığında,
    Kapılar,
    Hiçbir zaman kapanamadığında,
    Sırılsıklam bir halde eşiğe gömülmesiydi bir bedenin salt gerçekliği.

    Kapanamayan o kapıların aralığından,
    Bir bakış
    Ve anahtar deliğinden sızan,
    Bir koku tanesi kaçamağı...
    Suyun akışı
    İnce,
    Duru,
    Dipdiri...

    Yeşilini unutmuş bir tabiat ana kopyası,
    Öpüşmelerin en taraflı yanlısı...
    Ada olmayı çok özlemiş, körpe, bej renklerle sevişen
    Bir yarımada sevdası.
    Otobüs duraklarının arkadaşsız kaldığı bu yerde,
    Ucuz asfalt kokularına bağımlı olmuş,
    Bütün binek araç sahipleri...
    Ve tam bunların arasında
    Bir türlü denk gelemememizin mistik girdabı.
    İşte tam da bu yüzden,
    Hiç tanımadığın bir kadına sarıldığında, bej renklerin söylediği en büyük yalanı...
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence2Modal" tabindex="-1" role="dialog" aria-labelledby="sentence2ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence2ModalLabel">Yalnızlıkta buluyorum içimdeki kaosu...</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Yalnızlıkta buluyorum içimdeki kaosu
    Her cümlenin ederinden fazla anlamı,
    Geçmişim yüklüyor harflerin omuzlarına
    Geçmiş mi ağır?
    Yoksa omuzlar mı bitap düşmüş,
    Ağır zannedilen anıların yalancılığından.
    Anlayamıyorum...

    Rakı bile en dürüst anında söylüyor,
    En gerçekçi yalanını.

    Düşürmesi zor olan, dünün bugün maskesi,
    Tüm yalanlara susamış uyanık zihnim,
    Biraz şarap
    En mayhoş ve en ucuzundan.
    Henüz görmedim onun yalanını.
    Biraz kadın sesi
    Biraz şekerli parfüm kokusu
    İki nefes sonra izmarite dönüşecek sarı filtre bir sigara,
    Ve biraz da ıslık
    Tüm bunlar perde çekiyor yalan dolana,
    Tezat anlamların biçimsiz ahengi, ayıpsız gösteriyor bana perde arkasını, 
    Hem de sufle desteksiz, repliklerin en doğalını...

    Sahne sonunda teşekkür zannediyor kafa selamımı
    Ama yine de selam olsun tam teşekkür minnettarlıklara.
    Tokatlarla doğrulan belimin,
    Kambur damgası sebep oluyor,
    Gökkuşağında siyah cesaretler aramaya...
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>



    <style>
        .single-sentence {
            border: 2px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-style: italic;
        }

            .single-sentence a {
                color: #333;
                font-size: 18px;
                text-decoration: none;
                transition: color 0.3s ease, transform 0.2s ease;
                display: inline-block;
                position: relative;
            }

                .single-sentence a:hover {
                    color: #fc5404;
                    transform: scale(1.1); /* Örneğin tıklanabilirlik hissiyatı için büyüme animasyonu */
                }

        .modal-content {
            background-color: #f9f9f9;
            border-radius: 10px;
            border: none;
        }

        .modal-header {
            border-bottom: none;
        }

        .modal-title {
            font-family: 'Playfair Display', serif;
            font-size: 24px;
            color: #333;
        }

        .modal-body {
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            line-height: 1.8;
            color: #333;
            white-space: pre-wrap;
        }

        .modal-footer {
            border-top: none;
        }

        .btn-secondary {
            background-color: #333;
            border: none;
        }

            .btn-secondary:hover {
                background-color: #555;
            }
    </style>
</body>