@{
    ViewData["Title"] = "Yazi1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .poem-content pre {
        font-size: 16px;
        line-height: 1.5;
        white-space: pre-wrap;
        text-align: center;
        color: #333;
        font-family: 'Courier New', monospace;
        margin: 0 auto;
        width: 80%; /* Şiirin genişliğini ayarlayarak ortalayalım */
    }
</style>

<body>
    <div class="hero-2 overlay" style="background-image: url('/images/Fotografi/Sergi/23.webp');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center">
                    <h1 class="mimari-projelerim d-flex justify-content-center mb-5">
                        <span>Bir bedenin gerçeği miydi o?</span>
                    </h1>
                    @* <a href="#bottom" class="scroll-to-bottom">
                        <span class="arrow-down"></span>
                    </a> *@
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-5">
        <div class="container">
@*             <div id="bottom"></div>
 *@            <div class="row g-4">
                <!-- Cümleler -->
                <div class="col-12 d-flex flex-column align-items-center">                  
                    <div class="poem-content">
                        <pre>
Bir bedenin gerçeği miydi o?
Hiç 
Ama hiç ıslatmayan o yağmurda, 
Bir bedenin gerçekliğiyle baş başa kaldığın o anda, 	
Ve aslında hiç bilmediğin bir kadına sarıldığında, 
Kapılar, 
Hiçbir zaman kapanamadığında,
Sırılsıklam bir halde eşiğe gömülmesiydi bir bedenin salt gerçekliği.

Kapanamayan o kapıların aralığından,
Bir bakış
Ve anahtar deliğinden sızan, 
Bir koku tanesi kaçamağı...
Suyun akışı
İnce,
Duru,
Dipdiri...

Yeşilini unutmuş bir tabiat ana kopyası, 
Öpüşmelerin en taraflı yanlısı...
Ada olmayı çok özlemiş, körpe, bej renklerle sevişen
Bir yarımada sevdası.
Otobüs duraklarının arkadaşsız kaldığı bu yerde, 
Ucuz asfalt kokularına bağımlı olmuş,
Bütün binek araç sahipleri...
Ve tam bunların arasında
Bir türlü denk gelemememizin mistik girdabı.
İşte tam da bu yüzden,
Hiç tanımadığın bir kadına sarıldığında, bej renklerin söylediği en büyük yalanı...

                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
