@{
    ViewData["Title"] = "Poetry Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="hero-2 overlay" style="background-image: url('/images/Fotografi/Sergi/23.webp');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center">
                    <h1 class="mimari-projelerim d-flex justify-content-center mb-5">
                        <span>YAZILARIM</span>
                    </h1>
                    @* <a href="#bottom" class="scroll-to-bottom">
                    <span class="arrow-down"></span>
                    </a> *@
                </div>
            </div>
        </div>
    </div>
    <div id="preloader">
        <div class="line"></div>
    </div>
    <a href="#bottom" class="scroll-to-bottom">
        <span class="arrow-down"></span>
        <p style="color: #fff;">
            Aşağı Kaydır
        </p>
    </a>
    <div class="section sec-5">
        <div class="container">
            @*             <div id="bottom"></div>
            *@            <div class="row g-4">
                <!-- Cümleler -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence1Modal">
                        <a href="#">#1</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence2Modal">
                        <a href="#">#2</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence3Modal">
                        <a href="#">#3</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence4Modal">
                        <a href="#">#4</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence5Modal">
                        <a href="#">#5</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence6Modal">
                        <a href="#">#6</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence7Modal">
                        <a href="#">#7</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence8Modal">
                        <a href="#">#8</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence9Modal">
                        <a href="#">#9</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence10Modal">
                        <a href="#">#10</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence11Modal">
                        <a href="#">#11</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence12Modal">
                        <a href="#">#12</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence13Modal">
                        <a href="#">#13</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence14Modal">
                        <a href="#">#14</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence15Modal">
                        <a href="#">#15</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence16Modal">
                        <a href="#">#16</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence17Modal">
                        <a href="#">#17</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence18Modal">
                        <a href="#">#18</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence19Modal">
                        <a href="#">#19</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence20Modal">
                        <a href="#">#20</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence21Modal">
                        <a href="#">#21</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence22Modal">
                        <a href="#">#22</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-sentence" data-bs-toggle="modal" data-bs-target="#sentence23Modal">
                        <a href="#">#23</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="sentence1Modal" tabindex="-1" role="dialog" aria-labelledby="sentence1ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence1ModalLabel">Bir bedenin gerçeği miydi o?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Bir bedenin gerçeği miydi o?
    Hiç
    Ama hiç ıslatmayan o yağmurda,
    Bir bedenin gerçekliğiyle baş başa kaldığın o anda,
    Ve aslında hiç bilmediğin bir kadına sarıldığında,
    Kapılar,
    Hiçbir zaman kapanamadığında,
    Sırılsıklam bir halde eşiğe gömülmesiydi bir bedenin salt gerçekliği.

    Kapanamayan o kapıların aralığından,
    Bir bakış
    Ve anahtar deliğinden sızan,
    Bir koku tanesi kaçamağı...
    Suyun akışı
    İnce,
    Duru,
    Dipdiri...

    Yeşilini unutmuş bir tabiat ana kopyası,
    Öpüşmelerin en taraflı yanlısı...
    Ada olmayı çok özlemiş, körpe, bej renklerle sevişen
    Bir yarımada sevdası.
    Otobüs duraklarının arkadaşsız kaldığı bu yerde,
    Ucuz asfalt kokularına bağımlı olmuş,
    Bütün binek araç sahipleri...
    Ve tam bunların arasında
    Bir türlü denk gelemememizin mistik girdabı.
    İşte tam da bu yüzden,
    Hiç tanımadığın bir kadına sarıldığında, bej renklerin söylediği en büyük yalanı...
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence2Modal" tabindex="-1" role="dialog" aria-labelledby="sentence2ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence2ModalLabel">Yalnızlıkta buluyorum içimdeki kaosu</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Yalnızlıkta buluyorum içimdeki kaosu
    Her cümlenin ederinden fazla anlamı,
    Geçmişim yüklüyor harflerin omuzlarına
    Geçmiş mi ağır?
    Yoksa omuzlar mı bitap düşmüş,
    Ağır zannedilen anıların yalancılığından.
    Anlayamıyorum...

    Rakı bile en dürüst anında söylüyor,
    En gerçekçi yalanını.

    Düşürmesi zor olan, dünün bugün maskesi,
    Tüm yalanlara susamış uyanık zihnim,
    Biraz şarap
    En mayhoş ve en ucuzundan.
    Henüz görmedim onun yalanını.
    Biraz kadın sesi
    Biraz şekerli parfüm kokusu
    İki nefes sonra izmarite dönüşecek sarı filtre bir sigara,
    Ve biraz da ıslık
    Tüm bunlar perde çekiyor yalan dolana,
    Tezat anlamların biçimsiz ahengi, ayıpsız gösteriyor bana perde arkasını, 
    Hem de sufle desteksiz, repliklerin en doğalını...

    Sahne sonunda teşekkür zannediyor kafa selamımı
    Ama yine de selam olsun tam teşekkür minnettarlıklara.
    Tokatlarla doğrulan belimin,
    Kambur damgası sebep oluyor,
    Gökkuşağında siyah cesaretler aramaya...
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence3Modal" tabindex="-1" role="dialog" aria-labelledby="sentence3ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence3ModalLabel">İndirme yelkenleri</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    İndirme yelkenleri, 
    Sabret,
    Ben üflerim tanrının dudaklarından...
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence4Modal" tabindex="-1" role="dialog" aria-labelledby="sentence4ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence4ModalLabel">Uzaktan bar aşkı</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Uzaktan bar aşkı
    ...
    Her ne zaman hemcinsimiz olmayan birine sarılmak zorunda kalsak, ayrı
    ayrı, hesap veren gözler dikerdik birbirimize. Mahcup makro mimikler de
    cabası. Öyleydi bizim aşkımız. “Bi’ tane fıçı bira, ama Arjantin bardak
    lütfen...” “tamamdır, afiyet olsun.” lardan öteye geçemeyen seviyeli
    bir ilişkiydi, baya baya da ilişikti...
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence5Modal" tabindex="-1" role="dialog" aria-labelledby="sentence5ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence5ModalLabel">Bir yaz akşamında</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Var olduğuna bir türlü ikna olamadığı cama vura vura, kuşa dönüşmüştü
    sinek... Hem de bir yaz akşamında.
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence6Modal" tabindex="-1" role="dialog" aria-labelledby="sentence6ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence6ModalLabel">“ADSIZ”</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    “ADSIZ”
    Seferler hayal et.
    Dışardan izlenebilen, geçirgen ama geçilemeyen, ritmine dokunamadığın,
    hangi düzlemde olduğunu umursamadığın bi’ sefer. Sadece hayal et…
    Nereye gittiğini bırak, nereden geldiğini dahi bilmediğin,
    adressizlikten kimliğinin bulanıklaştığı bi’ sefer… İndi bindi
    arkadaşlıklarla dolu, kafanı yasladığın camların esnediği bi’ sefer bu…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence7Modal" tabindex="-1" role="dialog" aria-labelledby="sentence7ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence7ModalLabel">“BOTANİK HİSLER-3”</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    “BOTANİK HİSLER-3”
    Eliptik konuşmalarla pekiştirilen, sert ve net ifadeler bütün oluşturdu
    bir anda. Geometriyi yok sayan cinsten şekiller çizildi, parmaklar
    kalem oldu, ama suya yazı yazılamadı… 

    Akrep selam dahi vermedi yelkovana, tanışık değillerdi herhalde.

    Bir amaca sahipmişçesine uzanmaya çalışan dalların birbiriyle uyumu
    hakkında düşündü, ancak bir karara varamadı. Uzantıları ayrı ayrı
    sorgulamadı bile “ama”yasa mahkemesinde…

    Hangi uzantıydı ona bu biçim yaklaşan, hangisiydi saklambaçta ebe
    olmayan, hangileriydi parmaklarındaki balı yalayanlar…

    Dalgakırana karşı geliyordu ve olacaklardan habersizdi.Bu cümleler bir 
    masalın en başında değil, tam da ortasındaydı…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence8Modal" tabindex="-1" role="dialog" aria-labelledby="sentence8ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence8ModalLabel">“BİR BAR TUVALETİNDE YAZIYORUM BUNU”</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    “BİR BAR TUVALETİNDE YAZIYORUM BUNU”
    Gerçekten, 
    Gerçekten hiçbir şeyin yok mu söyleyecek bana?
    Biranın soğukluğu ve ortamın sıcaklığına yenik düştüğü için, içtiğin
    bardak kenarından aşağıya süzülen su damlalarından,
    Ya da şarkıların arasına karışan kumral saçlarından,
    Hiç mi bir şey yok?
    Durup düşünmeye vakit varken
    Zamanı durduruyor meraklı gözlerin
    Bende ki de merak işte, gözlerime hiç misafir olmamış bir merak…

    Cevap beklemeyi de unutmuş bu zampara
    Zampara ki,
    Onun bunun nefesiyle solumuş bir entübe…
    Bu zamana aykırı
    Bu duygulara epey aşina ve bir o kadar taze…
    Badem kokusu almayı öğrendim, 
    Uzak, sahipsiz dudaklarından…

    Neyse, bi’ tane daha bira rica edebilir miyim?
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence9Modal" tabindex="-1" role="dialog" aria-labelledby="sentence9ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence9ModalLabel">Pastel bi’ adamım ben</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Pastel bi’ adamım ben,

    Spektrumda yerim hep arada,
    Bazen derede. 
    Damaklarda yerim yok 
    Epey tatsızdır maviliğim
    Ama turuncum iyidir
    İşin bencesi…

    Pastel bi adamım ben, 
    Göremezler gökkuşağında beni…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence10Modal" tabindex="-1" role="dialog" aria-labelledby="sentence10ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence10ModalLabel">Barda en son kalan müşteriyim</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Barda en son kalan müşteriyim
    Dedim ya, 
    Pastel biriyim
    Kimi zaman da sandalye minderinin içinde gizlenenim…

                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence11Modal" tabindex="-1" role="dialog" aria-labelledby="sentence11ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence11ModalLabel">Bazen de</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Bazen de, 
    Boyumuzdan büyük yorganları katlamaya çalışmak gibiydi hayat.
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence12Modal" tabindex="-1" role="dialog" aria-labelledby="sentence12ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence12ModalLabel">Bekle</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Bekle, 
    Şimdi bir şiir yazıcam sana.
    Küçük dudaklarına, 
    Kocaman bakışlarına,
    Umursamayışlarına…
    Kim okuyacak bilmiyorum.
    Kaç boş şişede hatırın kaldı, kim bilir?

                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence13Modal" tabindex="-1" role="dialog" aria-labelledby="sentence13ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence13ModalLabel">“ENVANTER”</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    “ENVANTER”
    Gidişler, geride bırakılanlar, ağustos sıcağında gölge arayanlar. Kimi
    zaman gelişler, bekleyişler, pistir diye yürüyen merdiven bandına
    dokunmayanlar, temas etmekten bıkan gömlekler, boş bakan suratlar,
    sallanmaktan artık midesi bulanmış el çantaları, Arnavut
    kaldırımlarında tıkırtı yapan bavul tekerlekleri, hiç şans vermeden
    geçilen şarkılar, entelektüelmiş gibi görünmeye çalışan fularlı
    amcalar, politikadan en iyi anlayanlar, ölen çiçekler, çürümüş
    mandalina, sap arkadaşları çoktan yenmiş ve biraz kararmış Anamur
    muzu, güzel kızlar, boş bira kutuları, ısırılmış kalem başı, biraz
    sümüklü mendil, cepte bükülmüş sigara, git gide absürtleşen yazı,
    son olarak da araya kaçan üç günlük don… 
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence14Modal" tabindex="-1" role="dialog" aria-labelledby="sentence14ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence14ModalLabel">Tatsız şaraplar içtim geçen</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Tatsız şaraplar içtim geçen, 
    Adını söylesem hatırlar şarabı.
    Şiirler yazdık sırtımıza, şiirler biriktirdik
    Parmaklarımız kalem oldu
    Gece saat 03.45’i gösteriyordu, uykum gelmişti,
    Yeter uyuyalım artık diyordum içimden, tam ona söyleyeceğim sırada
    başka hikayeler buluyordu anlatacak
    Dinleye dinleye açılıyordu zihnim,
    Şekerli şarapları sevmem demiştim, dinletememiştim galiba
    Yine de içtik 2 şişe, sorun değildi,
    Güzeldi hatta.
    En azından beğenmiş gibi yapmak işime gelir diye düşündüm
    Aklım karışıyordu aralıklı olarak
    Sürekli daha yakınıma girmek isteyen beden dili 
    Hiç susmuyordu
    Kâküllerinden hoşlanmıştım ilk başta
    Sonra kaşlarını tam göremiyor olmak tadımı kaçırmıştı
    Tek yataklı odamın içini, akıl almaz ve çok beklemiş bir sigara dumanı
    kokusu esir almıştı,
    Kızın parfümü bile intihar etmişti galiba,
    Hava almak için yatağımın yanındaki perdeyi açtım, 
    Pencereye uzanırken yatakta buldum kendimi
    Güneş ha doğdu-ha doğacak derken…

    Neydi adın?
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sentence15Modal" tabindex="-1" role="dialog" aria-labelledby="sentence15ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence15ModalLabel">“BOTANİK HİSLER-2”</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    “BOTANİK HİSLER-2”
    Dokunmak istedi biri birine, 
    Biri diğerinden despot, birbirinin uzantısı…
    Aynı familyadan bunlar, biliyorsun
    ‘mış’gillerden. 
    Dokunuyormuş gibi uzatırlar uzuvlarını 
    Ve başlar ilk perde.
    Suflelere tıkalı kulaklar,
    Pek bilmiş…
    İkisi de farklı dünyalarda, aynı karbon ayak izi
    Ama birinin yazlığı varmış Datça’da…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence16Modal" tabindex="-1" role="dialog" aria-labelledby="sentence16ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence16ModalLabel">“BOTANİK HİSLER-1”</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    “BOTANİK HİSLER-1”
    Değişmeden de dönüşebilir, köklerini gizleyebilir insan derisinin 
    altındaki toprakla.Proporsiyonundan habersiz, dokunmak isteyebilir
    gökteki ışık hüzmelerine.Eğer anlaşırsa, dans bile edebilir rüzgarla.
    Hiç değilse su vereninindünyasında-ki genelde başucunda-, ekosistem
    bulabilir kendisine, diğerlerini hiç görmeden…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence17Modal" tabindex="-1" role="dialog" aria-labelledby="sentence17ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence17ModalLabel">Kâğıt damarları bahsediyor</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Kâğıt damarları bahsediyor, çarşamba günü yazılan şiirlerden… dokun sadece.
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence18Modal" tabindex="-1" role="dialog" aria-labelledby="sentence18ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence18ModalLabel">Teksir kâğıdı gibi</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Teksir kâğıdı gibi, 
    Yumuşak ve narin.
    Sallanan sıramızın altına sıkıştırdığımız
    Defter gibi,
    “Ziyan” ve “güçlü”
    O sıranın altında bulduğum çocuk hevesi
    Sabah ezanı korkusunda dikkat kesil söylediklerime,
    Konuşmadan anlattıklarıma…

    Arabayı babası kullanırken 
    Arka koltuğun arka camından,
    Yoldaki şeritlerle sevişmesini izleyen
    O küçük çocuk…
    Şimdi izliyor beni
    Pürdikkat.
    Hep geçti beni fark etmeden
    Gidişlerimi gördü hep,
    Diğer arabaların sağ yanından.
    Şimdi de ben bekliyorum kendi gelişimi
    Bozkırın ortasına rotalanmış bir geminin
    Yanaşmasını bekler gibi…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence19Modal" tabindex="-1" role="dialog" aria-labelledby="sentence19ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence19ModalLabel">Önceden mi belli tüm öpmeler</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Önceden mi belli tüm öpmeler, öpüşmeler
    Susan yelkenler
    Kim kime, 
    Dum duma
    Acımasız bi kalabalık içinde arayışlarla başlayan
    Tabureler üstünde deli saçmalarıyla olgunlaşan,
    Amasız
    Belkisiz
    Karşıtsız duruşlar tebessümle bitsin
    Bitsin ki yaşasın yeniler
    Hep doğsun güzeller..
    Öpüşmesin de sussun dudaklar bu sefer
    Ne dersin?
    Susalım mı biz de tüm sürat sevdalılarına tepki olarak,
    Yanalım mı biz de sulardan utanan iki farklı beden olarak,
    Bas bas bağıralım mı, desibelmetreler tanrı kabul etsin bizi
    Gülelim tüm ciddilere inat
    Dramalar uzaklaşsın yer yüzünden gözyaşlarımızı görüp
    Yaşayalım mı tamamen, politikalar da kabul görmesin,
    Aynalar çatlasın, sokak köpekleri aç kalmasın, 
    Alırız belki birini koynumuza,
    Uyuturuz...
    Rüyalarda anlaşırız onunla, dilinden anlarız.
    Yolculuklar da başlatırız sonra, pet şişeler biriktiririz yaşanmışlıklarımıza…
    Içtiğimiz sular gibi aziz, sular gibi saydam, sular gibi akışkan
    Ve yine sular gibi çiçekleri
    Büyütürüz tüm insanlığı…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence20Modal" tabindex="-1" role="dialog" aria-labelledby="sentence20ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence20ModalLabel">“Yaşıyor olmanın kekremsi tadı yerleşti damağıma”</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    “Yaşıyor olmanın kekremsi tadı yerleşti damağıma” demişti, beklemiş
    turşuları gösterirken ince ojeli parmaklarıyla.
    “Nedendir bilmem, dünler yarınlar birbirlerini yakıyor gecenin sisli
    soğuklarında” demiştim, güldürmüştüm yanımdaki sarışın yabancılığı. 
    Gülmüştük. 
    “Merhaba” dedi “tanışalım ama ismimi sorma”. “Olur” dedim, “benim için
    farketmez.” 
    Bardaki iki yalnız yabancıyı oynamıştık. Sigara dumanı altı sevimsiz
    kabare…
    “Fanus” dedi. Anlamamıştım. 
    “Sen ve ben bayım” dedi yine aynı parmaklar rehberinde. 
    “Kimse yok gibi düşün biraz, yüzümüz güler belki”
    Güldüm 
    Aramızdaki boş tabureyi doldurdu kalçası.
    Hazine avcısıydı bu kız, parmakları kamçısı.
    Gülerken coşması,
    Gülene kızması.
    Çok fazla sigara ve bira içmiştik
    O beni susmuş sarhoş dinlerken 
    Heyecandan ağzımın kayması… 
    “Sonsuz zamanın ürkütücü oyunu” dedim, “zorla alet ediyor beni” 
    Küfürler ediyorum dünyaya, olmuyor
    Kucaklamaya yeltensem kendime kızıyorum.
    “Öf” dedi, “yeter şiştim. Sıra bende”
    Dudaklarıma yapışmıştı fanus zindanlarında.
    “İlk ve son gibi yaşa” dedi sarışın filozof, zaman-mekân grafiklerim
    oyuna küstü
    “Yaşa ki, bir mekândan kaçmaya çalıştıkça zaman ısrarla önüne koymasın
    eski aşkları”
    O güldükçe gülüyordum. “Olur” dedim, “tamam.”
    Sözcükler gizledim dudaklarımız arasında, 
    Bazısı küfür savuruşlar yaşadığımız çağa
    Kimisi sevgi dizileri sarışınların varlığına.
    Onlar bile alıştılar birlikte yaşamaya. 
    “Hadi” dedi. “Beni evine davet et”
    Gittik eve istediği müzikleri açtı.
    “Seviş benimle” dedi, “bir daha sakın bulma beni ama” güldü.
    Seviştik.
    Bulamayacağıma emindim.
    Hayat da tam böyleydi zaten. Babamın da söylediği gibi,
    Hayatın sen bakarken soyunamıyorum demesiydi bardaki sarışın 
    yabancılığı…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence21Modal" tabindex="-1" role="dialog" aria-labelledby="sentence21ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence21ModalLabel">Bazen…</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Bazen…
    Bazen’ler öyle anlar ki
    Eşdeğer olsan bile yerküreyle, 
    Yetmez 
    Bazen sırf soluk seslerini tüm sessizliğiyle duymak için susarsın
    Yanında uzanır, yanında uyanır
    Gün doğuyor zannedersin
    Öyle bir gelir ki ansızın,
    Kavuşum sanarsın sarı saçlarının kokusunu
    Mavi gözlerinde bir ağaç ev de bulabilirsin 6 yaş heyecanıyla
    Uçurum dersin,
    Atlar gidersin sonsuzluklardan sert zeminlere…
    Çakılır kalırsın bazen
    Bazen de deler geçersin
    Dipler bile yetmez bazen 
    Doyumsuzluğun hastalıklı, delicesine…
    Şarkılar söylenir enstrümanlar konuşur gerekirse
    Ama sen hep susarsın
    Fısıltılar bağışlarsın kimsesizlere 
    Onların bile işine yaramaz zaten…

    Bulutlar gridir, güneş yetersiz bir sarı 
    Yetmez bazen işte
    Renk paletlerinde kaybolursun
    Geceyken gülmesi yeter
    Gün aydınlanınca dolar taşar duygu heybelerin…


    Tezatlıksa eğer hisler,
    Tam da sandığın gibidir bazen…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence22Modal" tabindex="-1" role="dialog" aria-labelledby="sentence22ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence22ModalLabel">Ben seni bana gel diye sevmedim</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    Ben seni bana gel diye sevmedim, sevgilim,
    Umutsuzca kayboldum saç tellerinin düğümlerinde
    Bir Paris buldum ağız kokunda
    Zaman geldi, dişindeki maydanozda tanıdım orman serinliğini
    Koştuk koştuk parke taşlar üstünde
    Sen hep ağır çekimdin arkadan çalan melodilere benzeyen
    Bense hırpalanmış bir bavul tekerleği
    Geceleri duyuluyordu sesim sadece. 
    Paslı soğuklar, göz kurularım..
    Sarı sokak lambaları altındaki sis gibi dağılıyordum

    Ben seni yeni sevmedim, sevgilim
    Yeni yetmeydim kahkahalarında 
    Konuştukların birer gezi yazısıydı dimağımda
    Kalbimde yeşerttim tohumlarını 
    Kestane ağaçların vardı parmak uçlarımda kabuklu 
    yaralar bırakan
    En yasaklı meyvelerdi salyaların, merhemimdi 
    Bir filin sarhoşluğunu oynuyordum, devrilip devrilip
    ayağa kalkmaya çalışan
    Market reyonlarında sana âşık olan
    Uslanmayan sidikli bir erkek çocuğu oluyordum sonra
    Dişlerim çürüktü çikolatalar yüzünden…

    Ben seni son kez de sevmedim, sevgilim
    Her anında yanında olma istencimin utancıyla gölgeydim
    yanında
    Ama sen hep geceydin 
    Bazen de harlanmış bir ateş
    Dönüşümlerde ustalaştım binlerce yıldır
    Düşlerimde kibrittim sevgilim 
    Bayatlamış bir kibrittim…

    Sarılma düşüncesinin omuzlarıma yaptığı baskı, gururdan
    değil
    Sen turuncu düşlerinden uyanma diyeydi…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentence23Modal" tabindex="-1" role="dialog" aria-labelledby="sentence23ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sentence23ModalLabel">KİŞİSEL DEKLARASYON</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
    KİŞİSEL DEKLARASYON

    Sonsuz zamanın ve sonsuz mekânın mümkün olmayan sınırlarını
    belirleyen şeye ömür deniyor. Bizden habersiz biçilen bu zaman
    aralığını, bu yolculuğu YAŞAMAK gerekir. Hayatta kalmakla
    yetinmemek. Bizden öncekilerin ayak izlerini takip etme refleksimize
    kolektif bilinçdışımız sebep olsa da bu zinciri kırmayı, normları
    reddedebilmeyi misyon edinmek. Sistemi tanımak ve baş kaldırmak.
    Basmakalıp düzenin getirdiği, en “ciddi” anlarda turşu bidonları
    düşünmek. Kaliteli müzikler dinlemek, güzel (-) sanatlardan
    beslenmek, güzel kadınlarla konuşmak. Silikon kayışlı kol saatlerini
    biyolojik saatimize göre ayarlamak. Rüyalarda kokular duymak ve bir
    sokak boyu parfüm aramak. Duyuları anlamak, bazen onlarla anlaşmak
    bazense kavga etmek. Mevzu sağlık durumlarına gelirse, etrafa
    hoşgörü ve saygı bulaştırmak. Yolculuklar başlatmak. Duvarlara
    yazılmış yeni şiirler keşfetmek. Rüzgarla dans etmek, güneşle
    sevişmek. Bulutları eski bir otomobile ya da eski bir sevgiliye
    benzetmek. Hala siyah-beyaz film izleyen kızları belinden tutmak.
    Uyuyakalmak. Uyanmak. Devinimi benimsemek ve yönetmek. Tatminsizleri
    fethetmek. İnsanlığa, insanlara dokunmak. Kendi ölçeğini büyütüp
    çıplak ellerle yer küreyi okşamak. Kimi zaman küçülüp sırtta
    çekirdek kabuğu taşımak. Yaşamak… Cisimlere dönüşmeyi öğrenmek.
    Yerine göre bir yük gemisi ya da bavul tekerleği olabilmek. Parmak
    izleri arasında anılar biriktirmek. Baltacıları her yerde mevcut
    olsa da “güzel bir dünya” uğruna var olmak, var etmek…
                    </pre>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>


    <style>
        .single-sentence {
            border: 2px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-style: italic;
            cursor: pointer;
            transition: transform 0.3s ease;
            overflow: hidden;
            position: relative;
        }

            .single-sentence:hover {
                transform: scale(1.05);
            }

            .single-sentence a {
                color: #333;
                font-size: 18px;
                text-decoration: none;
                transition: color 0.3s ease, transform 0.2s ease;
                display: inline-block;
                position: relative;
            }

                .single-sentence a:hover {
                    color: #fc5404;
                    transform: scale(1.1);
                }

        .modal-content {
            background-color: #f9f9f9;
            border-radius: 10px;
            border: none;
        }

        .modal-header {
            border-bottom: none;
        }

        .modal-title {
            font-family: 'Playfair Display', serif;
            font-size: 24px;
            color: #333;
        }

        .modal-body {
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            line-height: 1.8;
            color: #333;
            white-space: pre-wrap;
        }

        .modal-footer {
            border-top: none;
        }

        .btn-secondary {
            background-color: #333;
            border: none;
        }

            .btn-secondary:hover {
                background-color: #555;
            }
    </style>
    <div id="bottom"></div>

</body>